.header {
	height: 255px;
    text-align: center;
    position: relative;
    border-bottom: thick solid red;
    background-color: #DEF0FA;
    border-radius: 10px;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

body {
	background-color: #99ccff;
}

.schedule {
	background-color: #99ccff;
	width: 100%;
	color: white;
	font-size: 22px;
	font-weight: bold;
}

.currentTrains {
	padding-top: 25px;
	height: 300px;
	background-color: white;
	border-radius: 25px;
	border-top: 6px solid #99ccff;
}

.divTitle {
	background-color: #99ccff;
	width: 100%;
	color: white;
	font-size: 22px;
	font-weight: bold;
}

.addTrain {
	padding-top: 25px;
	margin-top: 10px;
	height: 385px;
	background-color: white;
	border-radius: 25px;
	border-top: 6px solid #99ccff;
}

.addTrain input {
	width: 96%;
	margin-left: 20px;
	margin-right: auto;
	background-color: #DEF0FA;
	color: black;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px; 
}

.addTrain label {
	padding-top: 3px;
	padding-left: 8px;
}

.submit:hover {
    background-color: green;
}

.tableSched {
	width: 100%;
}

.tableSched tr {
	border-bottom: solid 1px black;
}